<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/list.css' />
    <title><%= title %></title>
</head>
<body>
    <table>
        <tr>
            <th> <%= userAttributes[3] %> </th>
            <th> <%= userAttributes[4] %> </th>
            <th> <%= userAttributes[6] %> </th>
            <th> <%= userAttributes[8] %> </th>

        </tr>
        <% users.forEach( user => { %>
            <tr>
                <td><a href="list/<%= user.id %>"><%= user.name %></a></td>
                <td><%= user.surname %></td>
                <td><%= user.birthDate %></td>
                <td><%= user.city %></td>
            </tr>
        <% }); %>
    </table>
    <form action="/">
        <button type="submit">Back</button>
    </form>
</body>
</html>


